include ../../../common/html/utilities/mixins
extends ../../../common/html/layouts/index

block content

  +partial('src/modules/example-module/html/example-module.jade', 'src/modules/example-module/html/data/default.json')
  +partial('src/modules/example-module/html/example-module.jade', 'src/modules/example-module/html/data/default.json')